.category-image {
	width: auto;
	max-height: -webkit-fill-available;
}
.categoryButton {
	height: 8vh;
	border-radius: 3%;
	border: solid 2px black;
	background-color: #FFFFFF;
	margin: 0 0 1rem 0;
}
body {
	background-color: #BF0A30;
}

.categoryTitle {
	margin-bottom: 0.2rem;
	color: white;
	text-align: center;
	font-size: 1.3rem;
}

#DesktopHeader {

}