.category-image {
	height:8.4vh;
	background:rgba(191,10,48,1);
}
.categoryButton {
	height: 8.8vh;
	border-radius: 3%;
	border: solid 2px black;
	background-color: #FFFFFF;
	overflow: hidden;
	margin: 0 0 1rem 0;
}
#collapsible-nav-dropdown{
	font-size: x-large !important;
}
#resourceTray{
	padding-top: 0;
}
#categoryTray {
	padding-top: 1rem;
}
#footer {
	position: absolute;
	bottom: 0;
	width: 100vw;
	background: white;
}
#header {
	width: 100vw;
}
#mainContent {
	background-image: url("shared/img/flag-background.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	padding-top: 0.25rem;
	position: relative;
	min-height: 72vh;
}
#slider {
	height:30vh;
}

.categoryTitle {
	margin-bottom: 0;
	color: white;
	text-align: center;
	font-size: 1.3rem;
	background: rgba(0, 40, 104, 1);
}

#DesktopHeader {
	font-weight: bold;
	font-size: 2.5rem;

}

/*margin fix for last menu item*/
#bottomMenuItem {
	margin-bottom: 0.75rem;
}

#navDropdownButton {
	border-right: solid 1px black;
}

/*Dropdown menu for desktop header*/
.dropdown-menu {
	left: -1rem;
	min-width: 16.666667vw;
	width: 100%;
	padding: 0;
	margin: 0;
}

/*Dropdown menu for mobile header*/
.mobile-fix > div.dropdown-menu{
	left: 0;
	min-width: 16.666667vw;
	width: 100%;
	padding: 0 1rem;
	margin: 0;
}

/*flex fix for dropdown menu main text*/
#collapsible-nav-dropdown {
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	font-weight: bold;
	font-size: 1rem;
}

/*flex fix for dropdown mobile menu main text*/
.mobile-fix > #collapsible-nav-dropdown {
	justify-content: left;
}

#logoimage {
	height: 10vh;
	width: auto;
}

#mobileSlider > .container > .border-primary {
	padding-top: 0;
	margin-top: 0;
}
